@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* red from france flag */
    --primary-color: #ED2939;
    /* blue from france flag */
    --dark-color: #002654;
    /* white from france flag */
    --light-color: #ffffff;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #555;
}

img {
    max-width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #D98F62;
    text-decoration: none;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-dark {
    color: var(--dark-color) !important;
}

.text-light {
    color: var(--light-color) !important;
}

.text-justify {
    text-align: justify;
}

/* Header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: #A3DFDE;
    transition: 0.3s background;
}

.main-header .navbar {
    padding: 15px 0;
}

.main-header .navbar-nav>li {
    padding: 0 10px;
}

.main-header .navbar-nav>li>.nav-link {
    padding: 0 5px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--dark-color);
    letter-spacing: 3px;
    position: relative;
}

.main-header .navbar-nav>li>.nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: ease all 0.3s;
}

.main-header .navbar-nav>li>.nav-link:hover,
.main-header .navbar-nav>li>.nav-link.active {
    color: var(--primary-color);
}

.main-header .navbar-nav>li>.nav-link:hover:after,
.main-header .navbar-nav>li>.nav-link.active:after {
    left: 0;
    right: auto;
    width: 100%;
}

@media (max-width: 991px) {
    .main-header .navbar-collapse {
        border-bottom: 2px solid var(--dark-color);
        border-top: 2px solid var(--dark-color);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #A3DFDE;
    }

    .main-header .navbar-nav>li+li {
        border-top: 1px solid rgba(55, 55, 55, 0.1);
    }

    .main-header .navbar-nav>li>.nav-link {
        line-height: 50px;
    }

    .main-header .navbar-nav>li>.nav-link::after {
        display: none;
    }

    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }

    .main-header .navbar-toggler span {
        width: 25px;
        height: 2px;
        background: var(--dark-color);
        margin: 4px 0;
        transition: 0.3s;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(2) {
        opacity: 0;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

.fixed-header .main-header {
    background: #A3DFDE;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(55, 55, 55, 0.07);
}

.colored-btn {
    padding: 8px 20px;
    border: 2px solid var(--primary-color);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease all 0.3s;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 6px 6px 0 -1px var(--dark-color);
}

.colored-btn:hover {
    color: #fff;
    background: var(--dark-color);
    border-color: var(--dark-color);
    box-shadow: 5px 5px 0 -2px var(--primary-color);
}

.bg-gray {
    background-color: rgba(7, 124, 153, 0.1);
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.bg-1 {
    background-color: var(--dark-color) !important;
}

.bg-2 {
    background-color: var(--light-color) !important;
}

.bg-3 {
    background-color: var(--primary-color) !important;
}

.bg-4 {
    background-color: var(--dark-color) !important;
}

.bg-5 {
    background-color: var(--light-color) !important;
}

.bg-6 {
    background-color: var(--primary-color) !important;
}

.feature-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon img.medal-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

main {
    position: relative;
    z-index: 1;
}

/* Home Section */
.home-section {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .home-section {
        padding-bottom: 70px;
    }
}

.home-section .container {
    position: relative;
    z-index: 1;
}

.container p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 768px) {
    .container p {
        font-size: 1.4rem;
        /* Tamanho ajustado para telas menores */
    }
}

@media (max-width: 480px) {
    .container p {
        font-size: 1.2rem;
        /* Tamanho ajustado para telas muito pequenas */
    }
}


.home-section .home-intro h6 {
    font-weight: 600;
    color: var(--dark-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 30px;
}

@media (max-width: 767px) {
    .home-section .home-intro h6 {
        margin: 0 0 20px;
    }
}

.home-section .home-intro h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--dark-color);
    margin: 0 0 35px;
    line-height: 1;
}

@media (max-width: 1200px) {
    .home-section .home-intro h1 {
        font-size: 60px;
    }
}

@media (max-width: 767px) {
    .home-section .home-intro h1 {
        margin: 0 0 25px;
        font-size: 45px;
    }
}

.home-section .home-intro h1 span {
    border-bottom: 2px solid #FEC448;
}

.home-section .home-intro p {
    font-size: 20px;
}

@media (max-width: 767px) {
    .home-section .home-intro p {
        font-size: 18px;
    }
}

.home-image img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000;
    position: relative;
    z-index: -2;
}

@media (max-width: 767px) {
    .home-image img {
        height: 300px;
        width: 300px;
    }
}

/* Sections */
.section {
    padding: 100px 0;
    position: relative;
}

@media (max-width: 991px) {
    .section {
        padding: 80px 0;
    }
}

@media (max-width: 767px) {
    .section {
        padding: 60px 0;
    }
}

.section-heading {
    padding-bottom: 60px;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 991px) {
    .section-heading {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .section-heading {
        padding-bottom: 30px;
    }
}

.section-heading h3 {
    font-size: 50px;
    margin: 0;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .section-heading h3 {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .section-heading h3 {
        font-size: 38px;
    }
}

.about-text p {
    font-size: 1.4rem;
    /* Aumente o tamanho de acordo com sua necessidade */
    line-height: 1.6;
    /* Ajuste a altura da linha para melhorar a legibilidade */
}

.about-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Se quiser que as imagens preencham o espaço proporcionalmente */
}

@media (max-width: 767px) {
    .about-text img {
        margin-bottom: 1rem;
    }

    .row .col-6 {
        width: 100%;
        /* Para que em dispositivos móveis as imagens ocupem 100% da largura */
    }
}


.feature-box {
    padding: 40px;
    border: 2px solid var(--dark-color);
    box-shadow: 0 0 0 0 var(--dark-color);
    display: flex;
    transition: 0.3s box-shadow;
}

.feature-box:hover {
    box-shadow: 5px 5px 0 0 var(--dark-color);
}

@media (max-width: 767px) {
    .feature-box {
        padding: 30px;
    }
}

.feature-box .icon {
    width: 50%;
    height: 50%;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-color);
    background: #fff;
    color: var(--dark-color);
    font-size: 32px;
}

.feature-box .content {
    max-width: calc(80% - 70px);
    padding-left: 20px;
}

.feature-box h5 {
    font-size: 24px;
    color: var(--dark-color);
    font-weight: 600;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .feature-box h5 {
        font-size: 22px;
    }
}

.feature-box p {
    margin: 0;
    color: var(--dark-color);
    font-size: 17px;
}

.feature-box .img {
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #373737;
}

.feature-box-small {
    padding: 15px;
    align-items: center;
}

.feature-box-small:hover {
    box-shadow: 3px 3px 0 0 var(--dark-color);
}

.feature-box-small .icon {
    width: 50px;
    height: 50px;
}

.feature-box-small h6 {
    margin: 0;
    color: var(--dark-color);
    padding-left: 15px;
}


/* Estilos para as cores de fundo de cada caixa */
.donation-box.bg-1 {
    background-color: #002a5c; /* Azul escuro para QR Code PIX */
    color: #fff;
}

.donation-box.bg-2 {
    background-color: #ffffff; /* Fundo branco para Chave PIX */
    color: #000;
    border: 1px solid #000;
}

.donation-box.bg-3 {
    background-color: #e63946; /* Vermelho para PIX Copia e Cola */
    color: #fff;
}

/* Estilos adicionais para outras caixas */
.donation-box.bg-4 {
    background-color: #002a5c; /* Azul escuro para WISE QRCODE e Milhas */
    color: #fff;
}

.donation-box.bg-5 {
    background-color: #ffffff; /* Fundo branco para Conta Wise e Paypal */
    color: #000;
    border: 1px solid #000;
}

.donation-box.bg-6 {
    background-color: #f1f1f1; /* Fundo cinza claro para Conta Nomad e TED */
    color: #000;
}

.qr-code-img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    margin-top: 10px;
}

/* Para telas menores, aumenta o tamanho do QR Code */
@media (max-width: 768px) {
    .qr-code-img {
        max-height: 80%;
        max-width: 80%;
    }
}

@media (max-width: 576px) {
    .qr-code-img {
        max-height: 80%;
        max-width: 80%;
    }
}

/* Tamanho e alinhamento da caixa de doação */
.donation-box {
    max-width: 80%;
    width: 80%;
    padding: 2px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* Estilos para o texto e título */
.donation-box h5 {
    margin-bottom: 15px;
    font-weight: bold;
}

.donation-box p, .donation-box .bank-details {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilos para os botões de copiar */
.donation-box .btn {
    padding: 8px 8px;
    font-size: 1.3rem;
    border-radius: 4px;
    font-weight: bold;
}

#copy-success, #copy-success-copy-paste, #copy-success-paypal {
    display: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #28a745;
    margin-top: 5px;
}

/* Alinhamento do texto dentro das caixas */
.text-light {
    color: #f8f9fa !important;
}

.text-center {
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .donation-box {
        padding: 15px;
    }
}

/* Aumentar o tamanho da fonte */
.donation-box h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2rem; /* Aumentar o tamanho da fonte do título */
}

.donation-box p, .donation-box .bank-details, #pix-email, #paypal-email {
    font-size: 1.2rem; /* Aumentar o tamanho da fonte do parágrafo */
}

/* Estilos para o texto de sucesso */
#copy-success, #copy-success-copy-paste, #copy-success-paypal {
    display: block;
    font-size: 0.9rem; /* Ajustar o tamanho da fonte */
    color: #28a745;
    margin-top: 10px;
    text-align: center; /* Centralizar o texto */
}

/* Estilos para os botões de copiar */
.donation-box .btn {
    padding: 10px 16px;
    font-size: 1rem; /* Aumentar o tamanho da fonte dos botões */
    border-radius: 4px;
    font-weight: bold;
}

/* Alinhamento e espaçamento */
.donation-box {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px; /* Espaçamento entre os elementos */
}

/* Estilo para a seção TED */
.donation-box.bg-3 ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

.donation-box.bg-3 li {
    margin-bottom: 10px; /* Espaçamento entre cada item */
}

.donation-box.bg-3 li span:first-child {
    font-weight: bold; /* Destaca o nome do banco */
    display: block;
    font-size: 1.2rem; /* Aumenta o tamanho da fonte do banco */
}

.donation-box.bg-3 li span.bank-details {
    font-size: 1.2rem; /* Tamanho de fonte para os detalhes da agência e conta */
    color: #f8f9fa; /* Ajusta a cor para contraste */
    display: block;
    margin-top: 4px;
}

/* Portfolio */
.portfolio-box .portfolio-img {
    position: relative;
    border: 2px solid var(--dark-color);
    box-shadow: 0 0 0 0 var(--dark-color);
    transition: 0.3s;
}

.portfolio-box .portfolio-img:hover {
    box-shadow: 5px 5px 0 0 var(--dark-color);
}

.portfolio-box .portfolio-text span {
    display: inline-block;
    padding: 8px 20px;
    background: rgba(255, 101, 28, .2);
    color: var(--dark-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    margin-bottom: 18px;
}

.portfolio-box .portfolio-text h4 {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .portfolio-box .portfolio-text h4 {
        font-size: 26px;
        margin-bottom: 10px;
    }
}


.estimated-costs-desc {
    font-size: 1.6rem;
    /* Tamanho de fonte melhorado */
    line-height: 1.6;
    /* Aumenta o espaçamento entre linhas para melhor legibilidade */
    margin-bottom: 20px;
    /* Espaçamento inferior para separar melhor da tabela */
    text-align: center;
    /* Centraliza o texto */
    color: #333;
    /* Cor suave para melhorar o contraste */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .estimated-costs-desc {
        font-size: 1.1rem;
        /* Ajusta o tamanho da fonte em dispositivos menores */
        margin-bottom: 15px;
        /* Reduz o espaçamento inferior */
    }
}

@media (max-width: 767px) {
    .estimated-costs-desc {
        font-size: 1rem;
        /* Tamanho de fonte mais adequado para telas muito pequenas */
        margin-bottom: 10px;
        /* Reduz ainda mais o espaçamento inferior */
    }
}


.portfolio-box .portfolio-text .colored-btn {
    font-size: 12px;
}

.contact-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.contact-info-row .col-12 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info-row strong {
    display: block;
    /* Torna o texto em um bloco separado */
    font-size: 1.5rem;
    /* Aumenta o tamanho da fonte */
    margin-top: 10px;
    /* Espaçamento entre o ícone e o texto */
    color: white;
}

.contact-info-row i.icon-contact {
    font-size: 2.5rem;
    /* Aumenta o tamanho do ícone */
    color: white;
}

.contact-info-row a.btn {
    margin-top: 10px;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .contact-info-row {
        flex-direction: column;
        align-items: center;
    }

    .contact-info-row .col-12 {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info-row a.btn {
        margin-top: 10px;
    }
}

/* Responsividade para o gráfico */
.chart-responsive {
    max-width: 80%;
    max-height: 80vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .chart-responsive {
        max-width: 50vw;
        max-height: 50vw;
    }
}

@media (min-width: 1200px) {
    .chart-responsive {
        max-width: 40vw;
        max-height: 40vw;
    }
}

/* Estilo da tabela ao lado do gráfico de pizza */
.campaign-summary {
    font-size: 1.4rem;
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.campaign-summary p {
    margin: 5px 0;
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.campaign-summary strong {
    font-weight: 700;
    /* Título em negrito */
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre o título e o valor */
}

.campaign-summary .value {
    font-size: 1.3rem;
    text-align: right;
    display: inline-block;
}

/* Alinhamento entre o gráfico e o resumo */
.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .summary-container {
        flex-direction: column;
        align-items: center;
    }

    .campaign-summary {
        text-align: center;
        padding-left: 0;
    }
}

.section-heading h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
    font-size: 1.2rem;
    /* Aumenta o tamanho da fonte para o texto alinhado à direita */
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    /* Centraliza o conteúdo das células */
    vertical-align: middle;
    /* Alinha verticalmente no meio */
    border-bottom: 1px solid #dee2e6;
    /* Apenas borda inferior */
}

.table th {
    font-weight: bold;
    background-color: #f8f9fa;
    /* Cor de fundo para o cabeçalho */
    text-align: center;
    /* Alinha os títulos ao centro */
    vertical-align: middle;
    /* Alinha verticalmente no meio */
}

.table td {
    text-align: center;
    /* Alinha o conteúdo das células ao centro */
}

.table .label-cell {
    text-align: right;
    /* Alinha à direita as células de rótulo */
    padding-right: 10px;
    /* Ajusta o espaçamento à direita */
}

.table .value-cell {
    text-align: right;
    /* Alinha à direita as células de valor */
    padding-left: 10px;
    /* Ajusta o espaçamento à esquerda */
}

.table tbody tr:last-child td {
    border-bottom: none;
    /* Remove a linha de borda no final da tabela */
}

.text-right {
    text-align: right;
    /* Alinhamento à direita, usado quando necessário */
}

/* Ajustes para títulos da última parte */
.campaign-info td {
    text-align: right;
    /* Alinha à direita os valores da meta e valores arrecadados */
    font-size: 1.1rem;
    /* Ajuste de tamanho para se destacar */
}

.table tbody tr:last-child .value-cell {
    font-weight: bold;
    /* Destaque para o último valor (total) */
}


.campaign-info {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .table {
        font-size: 1rem;
        /* Ajusta o tamanho da fonte em telas menores */
    }

    .table th,
    .table td {
        padding: 0.5rem;
        /* Ajusta o padding para ser mais compacto */
    }

    .table td {
        display: block;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        /* Impede que o texto quebre em várias linhas */
    }

    .table thead {
        display: none;
        /* Esconde o cabeçalho da tabela em telas menores */
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 50%;
        text-transform: capitalize;
    }

    .campaign-info {
        font-size: 1.2rem;
        /* Tamanho da fonte ajustado para dispositivos móveis */
    }
}


/* Owl */
.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid var(--dark-color);
    transition: ease all 0.55s;
    border-radius: 50%;
    margin: 0 4px;
}

.owl-dots .owl-dot.active {
    background: var(--dark-color);
}

/* Contact Section */
.contact-form {
    border: 2px solid var(--dark-color);
    padding: 35px;
    background: #fff;
}

@media (max-width: 767px) {
    .contact-form {
        padding: 25px;
    }
}

.contact-form .lead {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 30px;
}

.contact-form .form-control {
    border-radius: 0;
    border: 1px solid var(--dark-color);
    box-shadow: none;
    padding: 0.575rem .75rem;
}

.contact-infos {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-infos li {
    display: flex;
    position: relative;
    padding-bottom: 35px;
}

.contact-infos li:last-child {
    padding-bottom: 0;
}

.contact-infos .icon {
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    font-size: 25px;
}

.contact-infos h5 {
    font-size: 14px;
    margin: 0 0 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-infos p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

/* Footer */
.footer {
    background-color: var(--dark-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.75);
}

.footer .nav a {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.footer .nav a:hover {
    color: var(--primary-color);
}

.footer .nav a+a {
    margin-left: 18px;
}